//- block content
//-   h1= title
//-   -var r = results
  
//-   div(class="container-fluid")
//-   div(class="row")
//-     each b,index  in results
//-       div(class="col-sm-2" onclick =`buy(${index})`)   Breed : #{nutrition_type},Color : #{nutrition_calories},price : #{nutrition_price}
//-         button.btn( class="btn-primary ml-1", onclick= buy) Update
//-     script.
//-         function buy(a)
//-         {
//-             alert(`You purchased Item ${a+1}`)
        }



//- block content
//-   h1= title
//-   -let items = results
//-   div(class="container-fluid")
//-    div(class="row m-1")
//-     each item in items
//-      - let destination = `dispatch(\"/nutrition/update?id=${item._id}\")`
//-      div(class="row-sm-2", class="m-1") Item #{item.nutrition_type}(#{item.nutrition_calories}) is #{item.nutrition_price}
//-       button.btn( class="btn-primary ml-1", onclick= destination) Update

//-      script.
//-          function dispatch(path){
//-          window.location.href=path
//-          }
extends layout

block content
  h1= title
  - let result = results;
  a(class="btn btn-success" href="/game/create") Create
  div(class="container-fluid mt-3")
    div(class="row m-1")
      each result,index in results
        - let destination = `dispatch(\"/game/update?id=${result._id}\")`
        div(class="col-sm-2" onclick=`buy(${index})`) #{result.gamename} - #{result.playername} - #{result.score}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          a(class="btn btn-danger" href=`/game/delete?id=${result._id}`) Delete
          a(class="btn btn-dark" href=`/game/detail?id=${result._id}`) Details
  br
  div(class="container-fluid")
    div(class="row")
      - for(var i=0;i<results.length;i++) {
        div(class="col-sm-2" width="215px" onClick=`buy(${i+1})`) #{results[i].gamename}
      -}
  script.
    function buy(indexNum) {
      alert(`You purchased item ${indexNum}`);
    }
    function dispatch(path){
      window.location.href=path
    }